<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/showPost.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
</head>

<body>
    <header>
        <div class="header-left">
            <a th:href="@{/blogs}" class="site-title">技術ブログ</a>
        </div>
        <div class="header-right">
            <a th:href="@{/blogs/home}" class="header-link">ホームへ</a>
            <a th:href="@{/blogs/logout}" class="header-link">ログアウト</a>
        </div>
    </header>
	<body>
		
	</body>


    <footer>
        <p>© 2024 技術ブログ. All rights reserved.</p>
<!--        <p><a th:href="@{/blogs/privacy}">プライバシーポリシー</a> | <a th:href="@{/blogs/terms}">利用規約</a></p>-->
    </footer>
</body>

</html>