<!DOCTYPE html>
<html lang="ja">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" th:href="@{/css/main-top.css}" />
		<title>自己紹介</title>
	</head>

	<body>
		<div class="contents-container">
			<div class="content-mene">
				<p>kento_tech_Home</p>
				<a class="mene-icon" th:href="@{/}">
					<img>
					<p>TOP</p>
				</a>
				<a class="mene-icon" th:href="@{/main/about}">
					<img>
					<p>ABOUT</p>
				</a>
				<a class="mene-icon" th:href="@{/main/products}">
					<img>
					<p>PRODUCTS</p>
				</a>
				<a class="mene-icon" th:href="@{/blogs}">
					<img>
					<p>BLOG</p>
				</a>
				<div class="mene-icon" id="site-map">
					<img>
					<p>SITE MAP</p>
				</div>
			</div>
			<div class="display-main">
				<img class="mainicon-img" src="/image/mainIcon.jpg">
				<div class="self-introduction">
					<p>■名前:kento　ゲーム等ではまるめ</p>
					<p>がっつり文系大学卒のエンジニアもどきです。</p>
					<p>■資格</p>
					<p>Java Gold, 情報セキュリティマネジメント,建築積算士</p>
					<p></p>
					<p>一人で何でもできる鷹村守のような人を目指して頑張ってます。</p>
					<p>paizaランクBになりました。今後はアルゴリズムを勉強してからAにトライします！</p>
					<p>随時更新できるように今はLPIC Level1を勉強中！</p>
				</div>
			</div>
		</div>
	</body>

</html>