<!DOCTYPE html>
<html lang="ja">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" th:href="@{/css/main-top.css}" />
		<link rel="stylesheet" th:href="@{/css/main-products.css}" />
		<title>創作品</title>
	</head>

	<body>
		<div class="contents-container">
			<div class="content-mene">
				<p>kento_tech_Home</p>
				<a class="mene-icon" th:href="@{/}">
					<img>
					<p>TOP</p>
				</a>
				<a class="mene-icon" th:href="@{/main/about}">
					<img>
					<p>ABOUT</p>
				</a>
				<a class="mene-icon" th:href="@{/main/products}">
					<img>
					<p>PRODUCTS</p>

				</a>
				<a class="mene-icon" th:href="@{/blogs}">
					<img>
					<p>BLOG</p>

				</a>
				<div class="mene-icon" id="site-map">
					<img>
					<p>SITE MAP</p>
				</div>
			</div>
			<div class="display-cards">
				<div class="contents-card">
					<a href="https://github.com/kento918/LerningBasic">
						<h5 class="contents-title">LerningBasic</h5>
						<h5 class="contents-body">
							Java Goldの取得の際に作成した理解度を上げるためのもの<br>
							基本的なSingleLinkedList等の<br>
							理解のためのフォルダになります。<br>
						</h5>
					</a>
				</div>
				<div class="contents-card">
					<a href="https://github.com/kento918/myLibrarys">
						<h5 class="contents-title">easyAnnotation</h5>
						<h5 class="contents-title">
							アノテーションで変数が入力出来たら楽なのではないか？<br>
							と考えて実際やってみたら様々な場所で定数を<br>
							指定する事ができた。<br>
							StackTraceElementを触ることができて楽しかった。
						</h5>
					</a>
				</div>
				<div class="contents-card">
					<a href="https://github.com/kento918/challengeOfRecursion">
						<h5 class="contents-title">Local Chat Messenger</h5>
						<h5 class="contents-title">
							TCP通信を用いてクライアントがサーバーから<br>
							フェイクの住所、名前、職業を取得するアプリ<br>
						</h5>
					</a>
				</div>
				<div class="contents-card">
					<a href="https://github.com/kento918/challengeOfRecursion">
						<h5 class="contents-title">Remote Procedure Call</h5>
						<h5 class="contents-title">
							実際に異なるPCへ転送するようにしたので<br>
							環境構築に時間がかかった。<br>
							ポート開放、設定などに時間がかかり、<br>
							通信するところからいきなり躓いた。<br>
							課題の部分ではjavaScript - python となっていたが、<br>
							javaScriptになじみがなさ過ぎて比較的使えるjavaで書いた。<br>
						</h5>
					</a>
				</div>
			</div>
		</div>
	</body>

</html>