<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/registerPost.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
<title>新しいカテゴリー</title>
</head>
	<body>
	    <header>
	        <div class="header-left">
	            <a th:href="@{/blogs}" class="site-title">技術ブログ</a>
	        </div>
	        <div class="header-right">				
	            <a th:href="@{/blogs/home}" class="header-link">ホームへ</a>
	            <a th:href="@{/blogs/logout}" class="header-link">ログアウト</a>
	        </div>
	    </header>
	
	    <div class="content">
	        <div class="blog-create-form">
	            <h1>新規投稿</h1>
	            <form th:action="@{/blogs/addCategory}" method="POST" onsubmit="return validateForm()">
	                <div class="form-group">
	                    <label for="name">カテゴリータイトル</label>
	                    <input type="text" id="name" name="name" required>
	                    <span id="title-error" class="error-message"></span>
	                </div>
	                <div class="form-group">
	                    <label for="description">内容説明</label>
	                    <textarea id="description" name="description" rows="10" required></textarea>
	                    <span id="content-error" class="error-message"></span>
	                </div>
	                <div class="form-group">
	                    <label for="order_id">表示順番(指定が無しは99を入力)</label>
	                    <input id="order_id"  name="order_id" required></input>
	                </div>
	                <div class="form-actions">
	                    <button type="submit" class="submit-button">投稿</button>
	                </div>
	            </form>
	        </div>
	    </div>
	
	    <footer>
	        <p>© 2024 技術ブログ. All rights reserved.</p>
<!--	        <p><a th:href="@{/blogs/privacy}">プライバシーポリシー</a> | <a th:href="@{/blogs/terms}">利用規約</a></p>-->
	    </footer>
	</body>
</html>

